@mixin cart-topping-qty() {
	display: block;						  
	width: 16px;
	height: 16px;						  
	position: absolute;
	top: 0px;
	right: -2px;

	border: 1px solid #B37100;
	border-radius: 8px;

	font-size: 10px;
	line-height: 16px;

	background-color: #ee3a43;
	color: #fff;
	text-align: center;
}